/* CSS Document */

<style type="text/css">
<!--
body {
	background-color: #CCCCCC;
}
.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: #FFFFFF;
	background-color: #333333;
	font-weight: bold;
	margin: 20px;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
}
.container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333333;
	padding: 10px;
	border: 0.1em solid #999999;
	background-color: #FFFFFF;
	position: relative;
	margin-top: 20px;
	margin-left: 220px;
	margin-bottom: 20px;
	margin-right: 20px;
}
.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333333;
	border: 0.1em solid #999999;
	background-color: #FFFFFF;
	position: relative;
	margin: 0px;
	float: left;
	left: 20px;
	padding-top: 10px;
	padding-right: 48px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 135px;
}
.blogDate {color: #0066FF; }
.navTitle {color: #0066FF; font-weight: bold; }
.navText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333333;
	padding-left: 15px;
}
.navText:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333333;
	font-weight: bold;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #FFFFFF;
	background-color: #333333;
	margin: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
}
.footercontact {
	font-size: 1em;
	color: #0066FF;
}


/* admin */
h2
{
  border-left: solid  10px;
  padding-left: 5px;
  border-color: lightslategray;
}

/* table */
.listing-short
{
  width: 500px;
}

.listing-middle
{
  width: 700px;
}

.listing-long
{
  width: 100%;
}


.table_title
{
  background-color:lightslategray;
  color:white;
}



/* add */
.text-short
{
  width: 50px;
}

.text-middle
{
  width: 200px;
}

.text-long
{
  width: 400px;
}

.textarea-short
{
  width: 400px;
  height: 50px;
}


.textarea-middle
{
  width: 400px;
  height: 100px;
}

.textarea-long
{
  width: 400px;
  height: 200px;
}



-->

table, td, th
{
  border: 1px black solid;
}

td
{
  padding: 2px 0 2px 10px;
}

.table_menu
{
  text-align:center;
  width:50px;
  padding: 0;
}

dl dt{
   padding: 2px 0;
   width: 200px;
   float: left;
   background-color:#333333;
   color:white;
}

dl dd{
    margin-left: 5em;
    _text-indent: -4px;
}

/* フォームテーブル */
.form_table
{
  width:800px;
  border:none;
}

.form_button
{
  width:800px;
  padding: 10px 0 10px 0 ;
  text-align:center;
}


.form_th
{
   background-color:#333333;
   color: #FFFFFF;
   width:200px;
   font-size:0.8em;
}

.form_td
{
  padding : 2px 0 2px 5px;
  width: 600px;
   font-size:0.8em;
}

.form_th_d
{
   background-color:#333333;
   color: #FFFFFF;
   width:200px;
   font-size:0.8em;
}

.form_td_d
{
  padding : 2px 0 2px 5px;
  width: 200px;
}

.form_require
{
  padding: 0 0 0 3px;
  color:red;
}



.delete_th
{
  padding:0;
  background-color:#333333;
  color: #FFFFFF;
  width:50px;
  text-align:center;
}

.delete_td
{
  padding:0;
  width:50px;
  text-align:center;
}

.delete_area
{
  width:800px;
  text-align:right;
}


.center_td
{
  padding:0;
  text-align:center;
}


/* エラーエリア */
#error_area
{
  color:red;
  margin: 0 0 1em 0;
}

.pager-short
{
  width: 500px;
}

.pager-middle
{
  width: 700px;
}

.pager-long
{
  width: 100%;
}


</style>